.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page-content {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
    gap: 20px;
    max-width: 420px;
    min-width: 280px;
    width: 100%;
    height: 100%;
}

.login-page button {
    width: 155px;
    border-radius: 98px;
    background-color: #0E172C;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .description {
    padding: 0px 50px;
  }