.pets_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pets_home-container{
    background-color: var(--primary-bg-color);
    max-width: 420px; 
    min-width: 280px;
    margin-bottom: 60px;
    background-color: var(--primary-bg-color);
}
.title {
    font-weight: 800;
    margin: 20px;
}

.subtitle {
    text-align: center;
    margin: 20px;
}
h1 {
    color: var(--title-color);
}


.pets__buttons-logo img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.pets__buttons-group {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.pets__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    background-color: #0E172C;
    padding: 16px;
    border-radius: 10px;
}

.pets__buttons-category p {
    font-size: larger;
    color: white;
}

.pets__checkbox {
    display: none;
}



.pets__checkbox:not(:checked) + .pets__buttons {
    opacity: 50%;
  }

.pets__panel, .pets_favorites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    padding: 10px;
    justify-items: center;
}

.pets__card {
    position: relative;
    width: 160px;
    height: 300px;
    border-radius: 10%;
    background-color: white;
    overflow: hidden; 
}

.pets__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
}

.petDescription {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.pet__img-container {
    max-width: 420px;
    max-height: 500px;
}
.pet__img-container img{
    object-fit: cover;
    width: 100%;
}

.pet__img-like{
    border: 2px solid red;
}


.pet__container {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pet__info-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pet__info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.pet__feacture {
    border: 1px solid blue;
    padding: 30px 15px;
    border-radius: 8px;
}

.adoptar-btn.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: aqua;
    color: blue;
}

.adoptar-btn {
    text-align: center;
}