/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');

:root {
  --title-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
  --primary-bg-color: #FEC7D7;
  --secondary-bg-color: #A786DF;
  --terttiary-bg-color: #D9D4E7;

  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--secondary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-weight: 800;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

section {
  padding: 60px 0px;
}

button {
  border: none;
  background-color: #0E172C;
  color: white;
  border-radius: 98px;
  padding: 10px;
  width: 150px;
}

button:hover {
  background-color: #1A2D50; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse sobre el botón */
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 7rem 0 2rem;
}

.section__title,
.breadcrumb__title {
  font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
  margin-bottom: var(--mb-3);
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
  text-align: center;
}

.breadcrumb__subtitle span {
  color: var(--first-color);
}
/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/* 
@media (min-width: 768px) {
  .header {
    max-width: 1400px;
    min-width: 968px;
    width: 100%;
    height: 90px;
    background-color: var(--primary-bg-color);
    position: fixed;
    top: 0;
    left: 0;
}

  .nav {
    width: 80%;
    max-width: 1400px;
    min-width: 968px;
    background-color: #fff;
    border-radius: 98px;
    margin-top: 10px;
    height: 80%;
  }

  .homeb {
  }

  .icon-container {
  }
  .desk-header {
    display:inline;
  }

  .icon {
    margin: 0px 30px;
    background-color: blueviolet;
  }

}

@media (min-width: 768px) {
  .pets_home {
      margin-top: 89px;
  }
  .pets_home-container{
      text-align: center;
      max-width: 1400px;
      width: 100%;
  }
  .pets__panel{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }

} */